.header {
    font-size: $test-font-size;
}

html {
    min-height: 100%;
}

html, body {
    background-color: #BAC0C2;
    font-family: Lato;
}

.app {
    color: white;
    padding-top: 70px;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.box {
    margin: 0 auto;
    max-width: 700px;
}

.item {
    &--flex {
        display: flex;
    }
}